streamlit==1.8.1
pandas==1.4.0
base58==2.1.1
altair==4.2.0
streamlit-folium==0.6.4
folium==0.12.1.post1
matplotlib==3.5.1
numpy==1.22.0
yfinance==0.2.3
lxml==4.9.2
win32com.client==3.10
pythoncom==3.10
email.message==3.10
ssl==3.10
